@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_global.scss";
@import "base/_layout.scss";
@import "base/_nav.scss";


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    height: 100%;
	min-height: 100%;
	background-color: #000000;
}

section {
	//min-width: 960px;
}

main {
	overflow-x: hidden;
	@include clearfix;
	-webkit-transition: all ease-out 1s;
    -moz-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;

}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.homeSlide {
	height: 550px;
	.bcg {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		width: 100%;

		-webkit-transition: all ease-out 1s;
	    -moz-transition: all ease-out 1s;
	    -o-transition: all ease-out 1s;
	    transition: all ease-out 1s;
	}

	.hsContainer {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;

		.hsContent {
			max-width: 700px;
			position: absolute;
			left: 50%;
			top: 50%;

			h2 {
				color: #fff8de;
				background-color: rgba(0,0,0,0.5);
				padding: 10px 5px;
				font-size: 35px;
				line-height: 38px;
				margin-bottom: 12px;
			}

			p {
				width: 400px;
				color: #b2b2b2;
			}

			a {
				color: #b2b2b2;
				text-decoration: underline;
			}
		} /* .hsContent */
	} /* .hsContainer */
}

#slide-1 {
	height: 320px;
	.bcg {
		background-image:url('/img/bcg_slide-1.jpg');
	}

	.hsContent {
		bottom: 200px;
		top: auto;
	}
}

#slide-2 {
	height: 750px;
	background-color: #dedede;

	/*.bcg {
		background-image:url('/img/bcg_slide-2.jpg');
	}

	.hsContent {
		margin-left: -450px;
		bottom: 200px;
		top: auto;
	}*/
}

#slide-3 {
	height: 750px;
	background-color: #333;
	/*.bcg {
		background-image:url('/img/bcg_slide-3.jpg');
	}

	.hsContent {
		margin-left: -239px;
	}

	h2 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}*/
}

#slide-4 {
	height: 750px;
	background-color: #3c3c3c;
	/*.bcg {
		background-image:url('/img/bcg_slide-3.jpg');
	}

	.hsContent {
		margin-left: -450px;
	}

	h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}*/
}

#slide-5 {
	.bcg {
		background-image:url('/img/bcg_slide-3.jpg');
	}

	.hsContent {
		margin-left: -450px;
	}

	h2 {
		color:black;
		opacity: 1;
		padding-left: 0;
		padding-right: 0;
	}
}

/* SLIDE MODULE */


.cbp-so-scroller {
	margin-top: 3em;
	overflow: hidden;
	background-color:white;
}

.cbp-so-section {
	margin-bottom: 15em;
	position: relative;

	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	h2 {
		font-size:22px;
		font-weight: 300;
		line-height: 1;
	}

	p {
		font-size: 18px;
		font-weight: 300;
	}


	/*.cbp-so-side-left,
	.cbp-so-side-right {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}*/

	.cbp-so-side-left {
		-webkit-transform: translateX(-515px);
		-moz-transform: translateX(-515px);
		transform: translateX(-515px);
	}

	.cbp-so-side-right {
		-webkit-transform: translateX(515px);
		-moz-transform: translateX(515px);
		transform: translateX(515px);
	}


}

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;


	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	&.cbp-so-side-right {
		text-align: left;
		img {
			float: left;
		}
	}

	&.cbp-so-side-left {
		text-align: right;
		img {
			float:right;
		}
	}
}

/* Initial state (hidden or anything else) */
.cbp-so-init {
	&.cbp-so-side {
		opacity: 0;
		-webkit-transition: none;
	    -moz-transition: none;
	    transition: none;
	}

	/*.cbp-so-side-left {
		-webkit-transform: translateX(-160px);
		-moz-transform: translateX(-160px);
		transform: translateX(-160px);
	}

	.cbp-so-side-right {
		-webkit-transform: translateX(160px);
		-moz-transform: translateX(160px);
		transform: translateX(160px);
	}*/

	.cbp-so-side-left,
	.cbp-so-side-right {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}

}
