@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_fonts.scss";
@import "base/_global.scss";
@import "base/_layout.scss";
@import "base/_nav.scss";


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    height: 100%;
	min-height: 100%;
	background-color: #000000;
}

section {
	//min-width: 960px;	
}

main {
	overflow-x: hidden;
	@include clearfix;
	-webkit-transition: all ease-out 1s;
    -moz-transition: all ease-out 1s;	
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;

}

.section-cc {
	height: auto;
	width: 100%;
	float: left;
	display: block;
	@include clearfix;

	.bcg {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		width: 100%;
		-webkit-transition: all ease-out 1s;
	    -moz-transition: all ease-out 1s;
	    -o-transition: all ease-out 1s;
	    transition: all ease-out 1s;

	    &.moveBG {
	    	//background-position: center 100px;
	    }

	    h2 {
	    	float: left;
	    }
	}

	h2 {
		margin: 0;
	}
}

@-webkit-keyframes imgAnim {
	0% {
		-webkit-filter: saturate(1);
		filter: saturate(1);
	}
	100% {
		-webkit-filter: saturate(9);
		filter: saturate(9);
	}
}


.intro {
	height: 320px;	

	.bcg {
		position: relative;

		&:before {
			content:'';
			display:block;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			height: 100%;
			width: 100%;
			background-image:url('/img/bcg_slide-1.jpg');
			-webkit-transition: all ease-out 1s;
		    -moz-transition: all ease-out 1s;
		    -o-transition: all ease-out 1s;
		    transition: all ease-out 1s;
			-webkit-filter: grayscale(0.7);
  			filter: grayscale(0.7);
		}	

		&:hover {

			&:before {
				-webkit-animation-name: imgAnim;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: 5;
				-webkit-animation-direction: alternate;
				-webkit-animation-timing-function: ease-out;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-delay: 0s;
	  		}

		}	

  		h2 {
  			position: absolute;
  			top:50%;
  			left: 40%;
  			margin:0;
  			text-transform: capitalize;
			color: #333;
			letter-spacing: 4px;
			font-size: 20px;
			opacity:.8;	

  			-webkit-filter: none;
  			filter: none;  			
  		}
	}	
}

.about {	
	background-color: #dedede;

	.inner {
		padding: 130px;
		margin: auto;
		
		.img-cc {
			float: left;
			width: 190px;
			margin-right: 50px;
			img {
				border: 10px solid #494949;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				height: 190px;
				margin: 20px 0;
				-webkit-filter: grayscale(0.7);
  				filter: grayscale(0.7);
			}
		}

		.desc-cc {
			float:left;
			width: 60%;
			text-align: left;
			margin-top: 30px;
		}	
	}
}

.work {
	background-color: #fefdfb;	
	position: relative;

	&:after {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #dedede;
		top: 0;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 0;
	}
	.inner {
		overflow: hidden;
	}	

	h2 {
		font-size: 36px;
		padding: 35px;
		text-transform: uppercase;
		text-align: center;
	}

	.clients {
		margin: auto;		
		float: left;

		ul {
			list-style: none;
			width: 100%;
			margin: auto;
			height: 240px;
			padding: 0;

			li {
				height: 120px;
				margin: 0 auto;
				display: inline;
				float: left;

				img {
					padding:20px;
					max-height:120px;
				}
			}
		}		
	}
}

.expertises {
	height:auto;
	background-color: #333;
	float: left;	
	width: 100%;
	color:#666;

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin: 40px 0;
	}

	.center-list {
		display: table;   /* Allow the centering to work */
		margin: 0 auto;
	}


	ul {	
		list-style: none;
		min-width: 696px;
		margin: auto;
		height: auto;
		padding: 0 0 40px 0;

		li {
			height: 120px;			
			display: inline;
			padding-left: 20px;
			color: #777;
		}
	}
}

.more-me {
	position: relative;
	height: 750px;
	background-color: #3c3c3c;	

	&:after {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #333;
		top: 0;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 0;
	}

}

.contact {
	height: 750px;
	background-color: #dedede;	
}

.where {
	height: 550px;
	.bcg {
		background-image:url('/img/bcg_slide-3.jpg');
	}	
}

/* SLIDE MODULE */

.slide-out-cc {
	position: relative;

	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	h3 {
		font-size:22px;
		font-weight: 300;
		line-height: 1;
		text-align: left;
		margin-top: 0;
		text-transform: uppercase;
	}

	p {
		font-size: 18px;
		font-weight: 300;
		text-align: left;
	}

}

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 25px 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;


	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	&.cbp-so-side-right {
		text-align: left;
		padding-right:0px;

		-webkit-transition-delay: 0.2s;
	    -moz-transition-delay: 0.2s;
	    transition-delay: 0.2s;

		img {
			float: left;
			width: 450px;
			border-radius: 2%;
		}
	}

	&.cbp-so-side-left {
		text-align: right;
		padding-left:0px;

		img {
			float:left;
			width: 450px;
			border-radius: 2%;
		}
	}
}

/* Initial state (hidden or anything else) */
.cbp-so-init {
	&.cbp-so-side {
		opacity: 0;
		-webkit-transition: none;
	    -moz-transition: none;
	    transition: none;
	}

	.cbp-so-side-left,
	.cbp-so-side-right {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}

}
