@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_fonts.scss";
@import "base/_global.scss";
@import "base/_layout.scss";
@import "base/_nav.scss";

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font: 16px/22px 'Lato', sans-serif;
    height: 100%;
	min-height: 100%;
	background-color: #000000;
}

section {
	h2 {
		font-size: 26px;		
		line-height: 42px;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width: $tablet-landscape-break) {
			font-size: 30px;
		}
	}
}

main {
	overflow-x: hidden;
	@include clearfix;
    transition: all ease-out 1s;
}

.center-list {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.section-cc {
	height: auto;
	width: 100%;
	float: left;
	display: block;
	@include clearfix;

	.bcg {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		width: 100%;
	    transition: all ease-out 1s;

	    &.moveBG {
	    	//background-position: center 100px;
	    }
	}

	h2 {
		margin: 0;
	}
}

@-webkit-keyframes imgAnim {
	0% {
		filter: saturate(1);
	}
	100% {
		filter: saturate(9);
	}
}

.intro {
	height: 150px;
	@media screen and (min-width: $tablet-break) {
		height: 320px;	
	}

	.bcg {
		position: relative;

		&:before {
			content:'';
			display:block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			background-image:url('/img/bcg_slide-1.jpg');
		    transition: all ease-out 1s;
  			filter: grayscale(0.7);
		}	

		&:hover {

			&:before {
				animation-name: imgAnim;
				animation-duration: 2s;
				animation-iteration-count: 5;
				animation-direction: alternate;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
				animation-delay: 0s;
	  		}
		}	

  		h2 {
			position: absolute;
  			top:35%;
  			left: 34%;
  			margin:0;
  			text-transform: capitalize;
			color: #333;
			letter-spacing: 4px;
			font-size: 20px;
			opacity:.8;	  			
  			filter: none; 
  			width: 200px;
  			line-height: 25px;

  			@media screen and (min-width: $tablet-break) {
  				left: 40%;
  				top: 50%;
  				width:250px;	          
	        }
	        @media screen and (min-width: $tablet-landscape-break) {
  				left: 45%;       
	        }
  		}
	}	
}

.about {	
	background-color: #dedede;

	.inner {
		padding: 10px;
		@media screen and (min-width: $tablet-break) {	
			padding: 40px;		
			margin: auto;
		}

		@media screen and (min-width: $tablet-landscape-break) {
	        padding: 60px 130px;
        }
		
		.img-cc {
			width: 100px;
			margin: auto;
			
			@media screen and (min-width: $tablet-break) {
				width: 190px;
				margin-right: 50px;
				float: left;
			}
			img {
				border: 10px solid #494949;
				border-radius: 50%;
				height: 100px;
				margin: 15px 0 0 0;
  				filter: grayscale(0.7);
				@media screen and (min-width: $tablet-break) {
					height: 190px;
					margin: 20px 0;
				}				
			}
		}

		.desc-cc {
			float:left;
			width: 100%;
			text-align: left;
			margin-top: 0px;
			font-size: 12px;
			@media screen and (min-width: $tablet-break) {
				margin-top: 30px;
				width: 60%;
				font-size: 18px;
			}
		}	
	}
}

.work {
	background-color: #fefdfb;	
	position: relative;

	&:after {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #dedede;
		top: 0;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 0;
	}
	.inner {
		overflow: hidden;
	}	

	h2 {
		padding: 25px;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width: $tablet-break) {
			padding: 35px;
		}
	}

	.clients {
		margin: auto;		
		float: left;

		ul {
			margin-top: 0;
			list-style: none;
			padding: 0;
			text-align: center;
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			li {
				height: 120px;		
				width: 240px;		
				display: inline;				

				img {
					padding:20px;
					max-height:75px;
					@media screen and (min-width: $tablet-break) {
						padding:20px;
						max-height:120px;
					}
				}
			}
		}		
	}
}

.expertises {
	height:auto;
	background-color: #333;
	float: left;	
	width: 100%;
	color:#666;

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0;
		@media screen and (min-width: $tablet-break) {
			margin: 40px 0;
		}
	}

	ul {	
		margin: auto;
		height: auto;
		padding: 0;
		height: 150px;	
		margin-bottom: 20px;
		@media screen and (min-width: $tablet-break) {
			min-width: 696px;
			list-style: none;
			height: 70px;	
			font-size:13px;
		}

		@media screen and (min-width: $tablet-landscape-break) {
			font-size:16px;			
		}

		li {				
			color: #777;
			@media screen and (min-width: $tablet-break) {
				display: inline;
				padding-left: 20px;
			}
		}
	}
}

.more-me {
	position: relative;
	height: auto;
	background-color: #3c3c3c;	

	&:after {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #333;
		top: 0;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 0;
	}

	.padbtm { 
		padding-bottom:20px;
		@media screen and (min-width: $tablet-break) {
			padding-bottom:10px;
		}
	}

	h2 {
		margin: 25px 0 45px 0;
		color:#fff;
	}
	
	.col {
		width: 33%;
		float: left;
		border-right: 1px solid #494949;
		p {
			display: table;   /* Allow the centering to work */
			margin: 0 auto;
			font-weight: 300;
			text-transform: capitalize;
			text-align: center;
			color:#777;
			span {
				margin-bottom: 15px;
				@include clearfix;
			}
			a {
				color:#777;
				text-decoration: none;	
				.control {
					text-decoration: underline;
				}			
			}

		}
	&:last-child {
		border-right: none;
	}	

	}
	.bg-circle {
		background: #333;
		border: 1px dashed #555;
		border-radius: 50%;
		color: #1bd3df;
		display: block;
		font-size: 21px;
		line-height: 50px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		width: 50px;
		height: 50px;
		@media screen and (min-width: $tablet-break) {
			font-size: 60px;
			width: 140px;
			height: 140px;
			line-height: 140px;
		}
	}
	.bg-square {
		background: #333;
		border: 1px dashed #555;		
		color: #1bd3df;
		display: block;
		font-size: 21px;
		line-height: 50px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		width: 60px;
		height: 50px;
		@media screen and (min-width: $tablet-break) {
			font-size: 60px;
			width: 170px;
			height: 140px;
			line-height: 140px;
		}
	}

	.me-content {
		position: relative;
		background: #dedede;
		padding:20px;
		width:100%;
		height:100%;
		float: left;
		border-radius: 5px;		
		
		.arrow-up {
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid #dedede;
			top: -20px;
			content: '';
			height: 0;
			left: 16%;
			margin-left: -20px;
			position: absolute;
			width: 0;
		    transition: all ease-out 0.5s;
		}

		.slide-cc {
			overflow: hidden;
			height: auto;
		    transition: all ease-out 0.5s;		    
		}

		.slide-content {
			position: relative;
		    transition: all ease-out 0.5s;		    
		}

		.slide-1,.slide-2,.slide-3 {
			float: left;		
			width: 33.3%;			
		}
		
		.slide-1 {
			h3 {
				float: left;
				@include clearfix;
				font-size: 14px;
				@media screen and (min-width: $tablet-break) {
					font-size: 19px;
				}				
			}
			img {
				width:55px;
				margin:8px 0 0 15px;
				@media screen and (min-width: $tablet-break) {
					width:auto;
					margin:18px 0 0 15px;
				}
			}
			.copy{
				float: left;
				font-size:12px;
				@media screen and (min-width: $tablet-break) {
					font-size:16px;
				}
			}

			ul {
				padding-left: 20px;
			}

		}

		.slide-2 {
			.quote {
				font-size:20px;
				text-align: center;
				margin-top:60px;
				@media screen and (min-width: $tablet-break) {
					font-size:24px;
				}
			}
			.by {
				float: right;
				font-size: 16px;	
				padding-right: 10px;			
			}
		}
	}
}

.contact {
	height: 350px;
	background-color: #dedede;	
	@media screen and (min-width: $tablet-break) {
		height: 400px;
	}
	@media screen and (min-width: $tablet-landscape-break) {
		height: 560px;
	}
	
	.inner {
		margin-top: 30px;
		@media screen and (min-width: $tablet-break) {
			margin-top: 60px;
		}
		@media screen and (min-width: $tablet-landscape-break) {
			margin-top: 100px;
		}

		p {
			text-align: center;
		}

		.center-list {
			margin-top: 30px;
			@media screen and (min-width: $tablet-break) {
				margin-top: 40px;
			}
			@media screen and (min-width: $tablet-landscape-break) {
				margin-top: 60px;
			}
		}

		ul {
			list-style: none;
			padding-left: 0px;
			float: left;
			padding-left: 27px;
			@media screen and (min-width: $mobile-android-break) {
				padding-left: 0px;
			}
			li {
				float: left;
				margin: 0;
				padding: 0;
				a {
					color: black;
					transition: all ease-out 0.5s;
					text-decoration: none;
					&[class^="icon-"], [class*=" icon-"] {
						font-size: 35px;
						padding:15px;
						@media screen and (min-width: $tablet-break) {
							font-size: 55px;
							padding:25px;
						}	
						@media screen and (min-width: $tablet-landscape-break) {
							font-size: 65px;
						}			
					}
					&:hover {
						color: #777;
					}
				}				
			}
		}
	}
}

.where {
	height: 650px;
	position: relative;
	overflow: hidden;
	&:after {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #dedede;
		top: 0;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 0;
	}

	.container {
		width:100%;
	}

	.cb-slideshow {
		position: relative;
	    width: 100%;
	    height: 100%;
	    top: 0px;
	    left: 0px;
	    z-index: 0; 

		li {
			
			span {
				width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    color: transparent;
			    background-size: cover;
			    background-position: 50% 50%;
			    background-repeat: none;
			    opacity: 0;
			    z-index: 0;
			    //animation-name: imageAnimation;
			    animation-duration: 10s;
			    animation-iteration-count: 1;    
			    animation-fill-mode: forwards;
			    animation-play-state:paused;
			    transition: opacity ease 0.1s;
			}	

		&:nth-child(1) { 
			span {
				background-image: url(/img/map/z4.jpg); 
				animation-name: imageAnimation;
			}		    
		}

		&:nth-child(2) { 
			span {
				background-image: url(/img/map/z3.jpg); 
				animation-name: imageAnimation;
		    	animation-delay: 2s; 
			}		    
		}

		&:nth-child(3) { 
			span {
				background-image: url(/img/map/z2.jpg); 
				animation-name: imageAnimation;
		    	animation-delay: 4s; 
			}		    
		}

		&:nth-child(4) { 

			span {
				background-image: url(/img/map/z1.jpg); 
		    	animation-delay: 6s; 		
		    	animation-name: end;    

				.here {
					position: absolute;
					top:50%;
					left:57%;
					opacity: 1;

					.dot {
						width: 20px;
						height: 20px;
						border: 2px solid #0066f7;
						border-radius: 10px;
						background-image: radial-gradient(circle farthest-side at right, #008cf8, #0066f7);
						position: absolute;
					}

					.pulse {
						border: 30px solid #0066f7;
						background: transparent;
						border-radius: 60px;
						height: 110px;
						width: 110px;
						animation: pulse 3s ease-out;
						animation-iteration-count: infinite;
						position: absolute;
						top: -45px;
						left: -45px;
						opacity: 0;
					}
				}
			}		    
		}

		}
	}
}

@keyframes imageAnimation { 
    0% { opacity: 0; }
    25% {
    	opacity: 1;
    	transform: scale(1.1);
    }
    50% {
    	opacity: 1;
    	transform: scale(1.1);
    }   
}

@keyframes end { 
    0% { opacity: 0; }
    25% {
    	opacity: 1;
    	transform: scale(1.1);
    }
    10% {
    	opacity: 1;
    	transform: scale(1.1);
    }   
    100% {
    	opacity: 1;
    	transform: scale(1.1);
    }  
}

@keyframes "pulse" {
	0% {
    	transform: scale(0);
    	opacity: 0.0;
 	}
 25% {
    	transform: scale(0);
    	opacity: 0.1;
 	}
 50% {
    	transform: scale(0.1);
    	opacity: 0.3;
 	}
 75% {
    	transform: scale(0.5);
    	opacity: 0.5;
 	}
 100% {
    	transform: scale(1);
    	opacity: 0.0;
 	}
}

/* SLIDE MODULE */

.slide-out-cc {
	position: relative;

	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	h3 {
		font-size:16px;
		font-weight: 300;
		line-height: 1;
		text-align: left;
		margin-top: 0;
		text-transform: uppercase;
		@media screen and (min-width: $tablet-break) {
			font-size: 18px;
		}
		@media screen and (min-width: $tablet-landscape-break) {
			font-size: 22px;
		}
	}

	p {
		font-size: 12px;
		font-weight: 300;
		text-align: left;

		@media screen and (min-width: $tablet-break) {
			font-size: 16px;
		}		
	}
}

/* Sides */
.slide-out {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 4%;
	overflow: hidden;
	transition: transform 0.5s;

	@media screen and (min-width: $tablet-break) {
		width: 50%;
		padding: 25px 4%;
	}

	&:before,&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear:both;
	}

	&.slide-side-right {
		text-align: left;
		padding-right:0px;
	    transition-delay: 0.2s;

		img {
			float: left;
			width: 260px;
			border-radius: 2%;
			@media screen and (min-width: $tablet-break) {
				width: 450px;				
			}
		}
	}

	&.slide-side-left {
		text-align: right;		
		@media screen and (min-width: $tablet-break) {
			padding-left:0px;			
		}

		img {
			float:left;
			width: 450px;
			border-radius: 2%;
		}
	}
}

/* Initial state (hidden or anything else) */
.cbp-so-init {
	&.slide-out {
		opacity: 0;
	    transition: none;
	}

	.slide-side-left,
	.slide-side-right {
		transform: translateX(0px);
		opacity: 1;
	}
}

#map-canvas {
	width: 100%;
	height: 330px;
	margin: auto;
	@media screen and (min-width: $tablet-break) {
		width: 100%;
		height: 450px;			
	}
}