@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e600";
}

.icon-camera:before {
  content: "\e601";
}

.icon-headphones:before {
  content: "\e602";
}

.icon-phone:before {
  content: "\e603";
}

.icon-location:before {
  content: "\e604";
}

.icon-food:before {
  content: "\e605";
}

.icon-airplane:before {
  content: "\e606";
}

.icon-checkmark-circle:before {
  content: "\e607";
}

.icon-checkmark:before {
  content: "\e608";
}

.icon-minus:before {
  content: "\e609";
}

.icon-plus:before {
  content: "\e60a";
}

.icon-arrow-right:before {
  content: "\e60b";
}

.icon-arrow-left:before {
  content: "\e60c";
}

.icon-checkbox-checked:before {
  content: "\e60d";
}

.icon-checkbox-unchecked:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60f";
}

.icon-mail:before {
  content: "\e610";
}

.icon-googleplus:before {
  content: "\e611";
}

.icon-facebook:before {
  content: "\e612";
}

.icon-instagram:before {
  content: "\e613";
}

.icon-twitter:before {
  content: "\e614";
}

.icon-picassa:before {
  content: "\e615";
}

.icon-github:before {
  content: "\e616";
}

.icon-arrow-left2:before {
  content: "\e617";
}

.icon-arrow-down:before {
  content: "\e618";
}

.icon-arrow-up:before {
  content: "\e619";
}

.icon-arrow-right2:before {
  content: "\e61a";
}

/* Clear Fix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* BEGIN GLOBAL NAV */
header {
  height: 230px;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.header-cc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10000;
  height: 230px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.header-cc .header-inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .header-cc .header-inner {
    width: 90%;
  }
}
.header-cc h1,
.header-cc nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc h1,
  .header-cc nav {
    display: inline-block;
    position: relative;
  }
}
.header-cc h1,
.header-cc nav a {
  line-height: 115px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .header-cc h1,
  .header-cc nav a {
    line-height: 230px;
  }
}
.header-cc h1 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc h1 {
    float: left;
  }
}
.header-cc nav {
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc nav {
    float: right;
  }
}
.header-cc nav a {
  color: #333;
  font-weight: 300;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header-cc nav a {
    margin: 0 0 0 20px;
  }
}
.header-cc nav a.icon-arrow-up {
  position: relative;
  top: 3px;
  font-size: 22px;
}
.header-cc nav a:hover {
  color: #ccc;
}
.header-cc.header-cc-shrink {
  height: 90px;
}
.header-cc.header-cc-shrink h1,
.header-cc.header-cc-shrink nav a {
  line-height: 90px;
}
.header-cc.header-cc-shrink h1 {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .header-cc.header-cc-shrink h1 {
    font-size: 2em;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  height: 100%;
  min-height: 100%;
  background-color: #000000;
}

main {
  overflow-x: hidden;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
main:after {
  content: "";
  display: table;
  clear: both;
}

.section-cc {
  height: 550px;
}
.section-cc .bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.section-cc .bcg h2 {
  float: left;
}
.section-cc h2 {
  margin: 0;
}

@-webkit-keyframes imgAnim {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }

  100% {
    -webkit-filter: saturate(9);
    filter: saturate(9);
  }
}

.intro {
  height: 320px;
}
.intro .bcg {
  position: relative;
}
.intro .bcg:before {
  content: '';
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url("/img/bcg_slide-1.jpg");
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}
.intro .bcg:hover:before {
  -webkit-animation-name: imgAnim;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
}
.intro .bcg h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  margin: 0;
  text-transform: capitalize;
  color: #333;
  letter-spacing: 4px;
  font-size: 20px;
  opacity: .8;
  -webkit-filter: none;
  filter: none;
}

.about {
  height: 750px;
  background-color: #dedede;
}

.work {
  height: auto;
  background-color: #fefdfb;
  overflow: hidden;
}

.more-me {
  height: 750px;
  background-color: #3c3c3c;
}

.contact {
  height: 750px;
  background-color: #dedede;
}

.where .bcg {
  background-image: url("/img/bcg_slide-3.jpg");
}

/* SLIDE MODULE */
.ct-slide {
  background-color: white;
}

.slide-out-cc {
  position: relative;
}
.slide-out-cc:before, .slide-out-cc:after {
  content: " ";
  display: table;
}
.slide-out-cc:after {
  clear: both;
}
.slide-out-cc h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
}
.slide-out-cc p {
  font-size: 18px;
  font-weight: 300;
}

/* Sides */
.cbp-so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 4%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cbp-so-side:before, .cbp-so-side:after {
  content: " ";
  display: table;
}
.cbp-so-side:after {
  clear: both;
}
.cbp-so-side.cbp-so-side-right {
  text-align: left;
}
.cbp-so-side.cbp-so-side-right img {
  float: left;
  width: 500px;
}
.cbp-so-side.cbp-so-side-left {
  text-align: right;
}
.cbp-so-side.cbp-so-side-left img {
  float: right;
  width: 500px;
}

/* Initial state (hidden or anything else) */
.cbp-so-init.cbp-so-side {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.cbp-so-init .cbp-so-side-left,
.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
