@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"] span, [class*=" icon-"] span {
  overflow: hidden;
  text-indent: 100%;
  display: block;
  width: 0;
  height: 0;
}

.icon-pencil:before {
  content: "\e600";
}

.icon-camera:before {
  content: "\e601";
}

.icon-headphones:before {
  content: "\e602";
}

.icon-phone:before {
  content: "\e603";
}

.icon-location:before {
  content: "\e604";
}

.icon-food:before {
  content: "\e605";
}

.icon-airplane:before {
  content: "\e606";
}

.icon-checkmark-circle:before {
  content: "\e607";
}

.icon-checkmark:before {
  content: "\e608";
}

.icon-minus:before {
  content: "\e609";
}

.icon-plus:before {
  content: "\e60a";
}

.icon-arrow-right:before {
  content: "\e60b";
}

.icon-arrow-left:before {
  content: "\e60c";
}

.icon-checkbox-checked:before {
  content: "\e60d";
}

.icon-checkbox-unchecked:before {
  content: "\e60e";
}

.icon-share:before {
  content: "\e60f";
}

.icon-mail:before {
  content: "\e610";
}

.icon-googleplus:before {
  content: "\e611";
}

.icon-facebook:before {
  content: "\e612";
}

.icon-instagram:before {
  content: "\e613";
}

.icon-twitter:before {
  content: "\e614";
}

.icon-picassa:before {
  content: "\e615";
}

.icon-github:before {
  content: "\e616";
}

.icon-arrow-left2:before {
  content: "\e617";
}

.icon-arrow-down:before {
  content: "\e618";
}

.icon-arrow-up:before {
  content: "\e619";
}

.icon-arrow-right2:before {
  content: "\e61a";
}

/* Clear Fix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.inner {
  float: left;
  padding: 35px;
  width: 100%;
}

/* BEGIN GLOBAL NAV */
header {
  height: 230px;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.header-cc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10000;
  height: 230px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.header-cc .header-inner {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .header-cc .header-inner {
    width: 90%;
  }
}
.header-cc h1,
.header-cc nav {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc h1,
  .header-cc nav {
    display: inline-block;
    position: relative;
  }
}
.header-cc h1,
.header-cc nav a {
  line-height: 115px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .header-cc h1,
  .header-cc nav a {
    line-height: 230px;
  }
}
.header-cc h1 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc h1 {
    float: left;
  }
}
.header-cc nav {
  float: none;
}
@media screen and (min-width: 768px) {
  .header-cc nav {
    float: right;
  }
}
.header-cc nav a {
  color: #333;
  font-weight: 300;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}
@media screen and (min-width: 768px) {
  .header-cc nav a {
    margin: 0 0 0 20px;
  }
}
.header-cc nav a.icon-arrow-up {
  position: relative;
  top: 3px;
  font-size: 22px;
}
.header-cc nav a:hover {
  color: #ccc;
}
.header-cc nav a.active {
  font-weight: bold;
}
.header-cc.header-cc-shrink {
  height: 90px;
}
.header-cc.header-cc-shrink h1,
.header-cc.header-cc-shrink nav a {
  line-height: 90px;
}
.header-cc.header-cc-shrink h1 {
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .header-cc.header-cc-shrink h1 {
    font-size: 2em;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px/26px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #000000;
}

section h2 {
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}

main {
  overflow-x: hidden;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
main:after {
  content: "";
  display: table;
  clear: both;
}

.center-list {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

.section-cc {
  height: auto;
  width: 100%;
  float: left;
  display: block;
}
.section-cc:after {
  content: "";
  display: table;
  clear: both;
}
.section-cc .bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.section-cc h2 {
  margin: 0;
}

@-webkit-keyframes imgAnim {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  100% {
    -webkit-filter: saturate(9);
    filter: saturate(9);
  }
}
.intro {
  height: 320px;
}
.intro .bcg {
  position: relative;
}
.intro .bcg:before {
  content: '';
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url("/img/bcg_slide-1.jpg");
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}
.intro .bcg:hover:before {
  -webkit-animation-name: imgAnim;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
}
.intro .bcg h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  margin: 0;
  text-transform: capitalize;
  color: #333;
  letter-spacing: 4px;
  font-size: 20px;
  opacity: .8;
  -webkit-filter: none;
  filter: none;
}

.about {
  background-color: #dedede;
}
.about .inner {
  padding: 130px;
  margin: auto;
}
.about .inner .img-cc {
  float: left;
  width: 190px;
  margin-right: 50px;
}
.about .inner .img-cc img {
  border: 10px solid #494949;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 190px;
  margin: 20px 0;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}
.about .inner .desc-cc {
  float: left;
  width: 60%;
  text-align: left;
  margin-top: 30px;
}

.work {
  background-color: #fefdfb;
  position: relative;
}
.work:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #dedede;
  top: 0;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 0;
}
.work .inner {
  overflow: hidden;
}
.work h2 {
  font-size: 36px;
  padding: 35px;
  text-transform: uppercase;
  text-align: center;
}
.work .clients {
  margin: auto;
  float: left;
}
.work .clients ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.work .clients ul li {
  height: 120px;
  width: 240px;
  display: inline;
}
.work .clients ul li img {
  padding: 20px;
  max-height: 120px;
}

.expertises {
  height: auto;
  background-color: #333;
  float: left;
  width: 100%;
  color: #666;
}
.expertises h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}
.expertises ul {
  list-style: none;
  min-width: 696px;
  margin: auto;
  height: auto;
  padding: 0 0 40px 0;
}
.expertises ul li {
  height: 120px;
  display: inline;
  padding-left: 20px;
  color: #777;
}

.more-me {
  position: relative;
  height: 750px;
  background-color: #3c3c3c;
}
.more-me:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333;
  top: 0;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 0;
}
.more-me h2 {
  margin-bottom: 45px;
  font-weight: 300;
}
.more-me .col {
  width: 33%;
  float: left;
}
.more-me .col p {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: #777;
}
.more-me .col p span {
  font-size: 60px;
  line-height: 45px;
}
.more-me .col p span:after {
  content: "";
  display: table;
  clear: both;
}

.contact {
  height: 560px;
  background-color: #dedede;
}
.contact .inner {
  margin-top: 100px;
}
.contact .inner p {
  text-align: center;
}
.contact .inner .center-list {
  margin-top: 60px;
}
.contact .inner ul {
  list-style: none;
}
.contact .inner ul li {
  float: left;
}
.contact .inner ul li a {
  color: black;
  text-decoration: none;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.contact .inner ul li a[class^="icon-"], .contact .inner ul li a [class*=" icon-"] {
  font-size: 65px;
  padding: 25px;
}
.contact .inner ul li a:hover {
  color: #777;
}

.where {
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.where:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #dedede;
  top: 0;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 0;
}
.where .container {
  width: 100%;
}
.where .cb-slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.where .cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation-name: imageAnimation;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.where .cb-slideshow li:nth-child(1) span {
  background-image: url(/img/map/z4.jpg);
}
.where .cb-slideshow li:nth-child(2) span {
  background-image: url(/img/map/z3.jpg);
  -webkit-animation-delay: 2s;
}
.where .cb-slideshow li:nth-child(3) span {
  background-image: url(/img/map/z2.jpg);
  -webkit-animation-delay: 4s;
}
.where .cb-slideshow li:nth-child(4) span {
  background-image: url(/img/map/z1.jpg);
  -webkit-animation-delay: 6s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(2.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(2.1);
  }
  100% {
    opacity: 0;
  }
}
/* SLIDE MODULE */
.slide-out-cc {
  position: relative;
}
.slide-out-cc:before, .slide-out-cc:after {
  content: " ";
  display: table;
}
.slide-out-cc:after {
  clear: both;
}
.slide-out-cc h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  margin-top: 0;
  text-transform: uppercase;
}
.slide-out-cc p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

/* Sides */
.slide-out {
  width: 50%;
  float: left;
  margin: 0;
  padding: 25px 4%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.slide-out:before, .slide-out:after {
  content: " ";
  display: table;
}
.slide-out:after {
  clear: both;
}
.slide-out.slide-side-right {
  text-align: left;
  padding-right: 0px;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-out.slide-side-right img {
  float: left;
  width: 450px;
  border-radius: 2%;
}
.slide-out.slide-side-left {
  text-align: right;
  padding-left: 0px;
}
.slide-out.slide-side-left img {
  float: left;
  width: 450px;
  border-radius: 2%;
}

/* Initial state (hidden or anything else) */
.cbp-so-init.slide-out {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.cbp-so-init .slide-side-left,
.cbp-so-init .slide-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
