
/* Clear Fix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
	//max-width: 320px;
    width:90%;
	@include clearfix;

    @media screen and (min-width: $mobile-android-break) {
        //max-width: 360px;
    }
    @media screen and (min-width: $mobile-iphone-landscape-break) {
        //max-width: 568px;
    }
    @media screen and (min-width: $mobile-android-landscape-break) {
       // max-width: 640px;
    }
    @media screen and (min-width: $tablet-break) {
        padding-left: 15px;
        padding-right: 15px;
        //max-width: 760px;
        width:95%;
    }
    @media screen and (min-width: $tablet-landscape-break) {
        max-width: 1000px;
    }
    @media screen and (min-width: $desktop-break) {
        max-width: 1170px;
    }
}

.inner {
	float: left;
	padding: 10px;
	width: 100%;
    @media screen and (min-width: $tablet-break) {
        padding: 25px;
    }
    @media screen and (min-width: $tablet-landscape-break) {
        padding: 35px;
    }
}

hr {
    border: 0;
    height: 4px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
}