
/* Clear Fix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
	@include clearfix;
}

.inner {
	float: left;
	padding: 35px;
	width: 100%;
}

hr {
    border: 0;
    height: 4px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #dedede, rgba(0,0,0,0)); 
}