
/* Clear Fix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inner {
	padding: 40px 20px;
	max-width: 1366px;
	text-align: center;
	float: left;
}