/* BEGIN GLOBAL NAV */

header {
  height:230px;
  @include clearfix;
}


.header-cc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10000;
    height: 230px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

      .header-inner {
        width:100%;
        max-width: 1130px;
        margin: 0 auto;
        padding: 0 30px;

        @media screen and (min-width: $tablet-break) {
          width: 90%;
        }       
        
      }

      h1,
      nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;

        @media screen and (min-width: $tablet-break) {
          display: inline-block;
          position: relative;
        }
      }

      h1,
      nav a {
        line-height: 115px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @media screen and (min-width: $tablet-break) {
          line-height: 230px;
        }   

      }

      h1 {
        text-transform: uppercase;
        color: #333;
        letter-spacing: 2px;
        font-size: 40px;
        margin: 0;
        float: none;
        @media screen and (min-width: $tablet-break) {
          float: left;
        }  
      }

      nav {
        float:none;
        @media screen and (min-width: $tablet-break) {
          float: right;
        } 
      }

      nav a  {
        color: #333;
        font-weight: 300;
        margin: 0 10px;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        float: left;

        @media screen and (min-width: $tablet-break) {
          margin: 0 0 0 20px;
        }  

        &.icon-arrow-up {
          position: relative;
          top: 3px;
          font-size: 22px;
        }

        &:hover {
          color:#ccc;
        }

        &.active {
          font-weight: bold;
        }
      }

      &.header-cc-shrink {
          height: 90px;

          h1,
          nav a {
            line-height: 90px;
          }

          h1 {
            font-size: 2em;
            @media screen and (min-width: $tablet-break) {
              font-size: 2em;
            }
          }
      }
}