/* BEGIN GLOBAL NAV */

header {
  height:150px;
  @include clearfix;
  @media screen and (min-width: $tablet-break) {
    height: 230px;
  }
}


.header-cc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10000;
    height: 150px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    border-bottom: 1px solid #dedede;
    @media screen and (min-width: $tablet-break) {
      height: 230px;
    }

      .header-inner {
        width:100%;
        max-width: 320px;
        margin: 0 auto;
        padding: 0 5px;        

        @media screen and (min-width: $tablet-break) {
          /*width: 90%;*/
          max-width: 760px;
          padding: 0 0 0 35px;
        }   
        @media screen and (min-width: $tablet-landscape-break) {
            max-width: 1000px;
            padding: 0 0 0 45px;
        }
        @media screen and (min-width: $desktop-break) {
            max-width: 1170px;
        }        
      }

      h1,
      nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;

        @media screen and (min-width: $tablet-break) {
          display: inline-block;
          position: relative;
        }
      }

      h1,
      nav a {
        line-height: 75px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @media screen and (min-width: $tablet-break) {
          line-height: 230px;
        }   

      }

      h1 {
        text-transform: uppercase;
        color: #333;
        letter-spacing: 2px;
        font-size: 35px;        
        margin: 0;
        float: none;
        @media screen and (min-width: $tablet-break) {
          float: left;
          font-size: 30px;
        }  
        @media screen and (min-width: $desktop-break) {
          font-size: 40px;
        } 
      }

      nav {
        float:none;
        @media screen and (min-width: $tablet-break) {
          float: right;
          padding-right: 35px;
        } 
        @media screen and (min-width: $desktop-break) {
          padding-right: 45px;
        }
      }

      nav a  {
          color: #333;
          font-weight: 300;
          text-decoration: none;
          text-transform: uppercase;
          float: left;
          margin: 0 7px;
          font-size: 12px;  
        @media screen and (min-width: $tablet-break) {         
          margin: 0 10px;
          font-size: 14px;          
        }

        @media screen and (min-width: $desktop-break) {
          margin: 0 0 0 20px;
          font-size: 18px;    
        }  

        &.icon-arrow-up {
          position: relative;
          top:0;
          font-size: 22px;
          opacity: 0;
          @media screen and (min-width: $tablet-break) {
            top: 3px;
          }  
        }

        &:hover {
          color:#ccc;
        }

        &.active {
          font-weight: bold;
        }
      }

      &.header-cc-shrink {
          height: 70px;
          @media screen and (min-width: $tablet-break) {
            height: 90px;
          }

          h1,
          nav a {
            line-height: 70px;
            @media screen and (min-width: $tablet-break) {
              line-height: 90px;
            }
            &.icon-arrow-up {
              opacity: 1;
            }
          }

          h1 {
            font-size: 2em;
            display: none;
            @media screen and (min-width: $tablet-break) {
              font-size: 2em;
              display: block;
            }
          }
      }
}